{% extends 'base.html' %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.4/js/mdb.min.js" integrity="sha256-DdcaOr7GF9S+ib0kzK5aqDl5QyFyw26mEPkQxj49GXQ=" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}

<div class="about-form">
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="submit">
  </form>
</div>

<div>
  <div class="flex-center">
    <p class="h2">About Daniel</p>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-12 mt-5">
        <img src="{{ daniel.display.url }}" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-lg-8 col-md-12 mt-5">
        <pre><span>{{ daniel.biography }}</span></pre>
    </div>
  </div>
</div>

{% endblock %}
