boto3==1.5.19
botocore==1.8.33
dj-database-url==0.4.2
Django==2.0.1
django-storages==1.6.5
djangorestframework==3.7.7
docutils==0.14
gunicorn==19.7.1
jmespath==0.9.3
Pillow==5.0.0
psycopg2==2.7.3.2
python-dateutil==2.6.1
pytz==2017.3
s3transfer==0.1.12
six==1.11.0
